/* Resetando algumas margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #3b3b4f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Título da página */
#title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  @media (max-width: 768px) {
    font-size: 2rem;
  }
  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

/* Contêiner principal */
#phone-container {
  position: relative;
  background-color: #bdbdbd;
  width: 250px;
  height: 460px;
  margin: 30px auto;
  border-radius: 15px;
  border: 15px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Fundo do telefone */
#phone-background {
  background-color: black;
  width: 100%;
  height: 25px;
}

/* Camera do telefone */
#phone-camera {
  background-color: rgb(129, 129, 129);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.phone-footer {
  background-color: black;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Div para resultados */
#results-div {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Estilo dos botões */
.btn-styles {
  cursor: pointer;
  width: 100px;
  margin: 10px;
  color: #0a0a23;
  font-size: 18px;
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff, #928d86);
  border-color: #ffffff;
  border-width: 3px;
}

#phone-label {
  color: #363636;
  margin: 10px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

/* Efeito ao passar o mouse nos botões */
.btn-styles:hover {
  background-color: #0056b3;
}

/* Estilo do campo de entrada */
#user-input {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  height: 42px;
  font-size: 16px;
}

#results-div {
  font-size: 1rem;
  padding: 5px;
  text-align: center;
  margin: 10px 0;
}
p {
  color: #3b3f14;
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

#flags-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  #brazilian-flag {
    cursor: pointer;
  }

  #us-flag {
    cursor: pointer;
  }
}

#flags-label {
  color: #ffffff;
  font-size: 10px;
  font-weight: lighter;
}
